## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Data/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Kapaa,US,22.0752,-159.3190,79.12,83,75,18.41,broken clouds
1,1,Bengkulu,ID,-3.8004,102.2655,76.59,87,96,3.40,overcast clouds
2,2,Grand Gaube,MU,-20.0064,57.6608,71.38,73,2,5.01,clear sky
3,3,Saskylakh,RU,71.9167,114.0833,66.36,67,58,1.54,broken clouds
4,4,Chuy,UY,-33.6971,-53.4616,66.06,84,100,9.78,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 78
What is the maximum temperature you would like for your trip? 85

In [4]:
city_data_df["Max Temp"] <= max_temp

0      True
1      True
2      True
3      True
4      True
       ...
683    True
684    True
685    True
686    True
687    True
Name: Max Temp, Length: 688, dtype: bool

In [5]:
test_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp)]
test_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Kapaa,US,22.0752,-159.3190,79.12,83,75,18.41,broken clouds
1,1,Bengkulu,ID,-3.8004,102.2655,76.59,87,96,3.40,overcast clouds
2,2,Grand Gaube,MU,-20.0064,57.6608,71.38,73,2,5.01,clear sky
3,3,Saskylakh,RU,71.9167,114.0833,66.36,67,58,1.54,broken clouds
4,4,Chuy,UY,-33.6971,-53.4616,66.06,84,100,9.78,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
683,683,Ormara,PK,25.2088,64.6357,83.07,84,97,8.84,overcast clouds
684,684,Batagay,RU,67.6333,134.6333,62.71,74,15,3.89,few clouds
685,685,Svetlaya,RU,46.5389,138.3297,62.04,97,98,7.72,overcast clouds
686,686,Menongue,AO,-14.6585,17.6910,78.35,17,0,7.70,clear sky
687,687,Zboriv,UA,49.6648,25.1410,78.93,43,69,7.07,broken clouds

In [6]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Kapaa,US,22.0752,-159.3190,79.12,83,75,18.41,broken clouds
6,6,Puro,PH,12.4841,123.3827,81.09,79,55,3.44,broken clouds
8,8,Ribeira Grande,PT,38.5167,-28.7000,79.20,78,20,10.36,few clouds
11,11,Butaritari,KI,3.0707,172.7902,81.77,73,47,18.88,scattered clouds
16,16,Bethel,US,41.3712,-73.4140,80.35,52,0,6.91,clear sky
21,21,Muroto,JP,33.2833,134.1500,80.58,82,38,1.48,scattered clouds
31,31,Nikolskoye,RU,59.7035,30.7861,79.92,47,53,7.72,broken clouds
32,32,Kalmunai,LK,7.4167,81.8167,81.05,77,78,1.72,broken clouds
33,33,Madang,PG,-5.2246,145.7966,78.01,90,100,2.89,overcast clouds
36,36,Bantou,CN,26.2151,117.4893,80.64,69,43,2.44,scattered clouds

In [7]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 122 entries, 0 to 687
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   City_ID              122 non-null    int64
 1   City                 122 non-null    object
 2   Country              122 non-null    object
 3   Lat                  122 non-null    float64
 4   Lng                  122 non-null    float64
 5   Max Temp             122 non-null    float64
 6   Humidity             122 non-null    int64
 7   Cloudiness           122 non-null    int64
 8   Wind Speed           122 non-null    float64
 9   Current Description  122 non-null    object
dtypes: float64(4), int64(3), object(3)
memory usage: 10.5+ KB

In [8]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.copy()
clean_df.dropna(how='any', inplace=True)
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Kapaa,US,22.0752,-159.3190,79.12,83,75,18.41,broken clouds
6,6,Puro,PH,12.4841,123.3827,81.09,79,55,3.44,broken clouds
8,8,Ribeira Grande,PT,38.5167,-28.7000,79.20,78,20,10.36,few clouds
11,11,Butaritari,KI,3.0707,172.7902,81.77,73,47,18.88,scattered clouds
16,16,Bethel,US,41.3712,-73.4140,80.35,52,0,6.91,clear sky
...,...,...,...,...,...,...,...,...,...,...
658,658,Chabahar,IR,25.2919,60.6430,83.23,83,93,16.46,light rain
669,669,Birao,CF,10.2849,22.7882,78.17,79,91,4.41,light rain
683,683,Ormara,PK,25.2088,64.6357,83.07,84,97,8.84,overcast clouds
686,686,Menongue,AO,-14.6585,17.6910,78.35,17,0,7.70,clear sky
687,687,Zboriv,UA,49.6648,25.1410,78.93,43,69,7.07,broken clouds

In [9]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Kapaa,US,79.12,broken clouds,22.0752,-159.3190,
6,Puro,PH,81.09,broken clouds,12.4841,123.3827,
8,Ribeira Grande,PT,79.20,few clouds,38.5167,-28.7000,
11,Butaritari,KI,81.77,scattered clouds,3.0707,172.7902,
16,Bethel,US,80.35,clear sky,41.3712,-73.4140,
21,Muroto,JP,80.58,scattered clouds,33.2833,134.1500,
31,Nikolskoye,RU,79.92,broken clouds,59.7035,30.7861,
32,Kalmunai,LK,81.05,broken clouds,7.4167,81.8167,
33,Madang,PG,78.01,overcast clouds,-5.2246,145.7966,
36,Bantou,CN,80.64,scattered clouds,26.2151,117.4893,

In [10]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [11]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(how='any')
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Kapaa,US,79.12,broken clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
6,Puro,PH,81.09,broken clouds,12.4841,123.3827,
8,Ribeira Grande,PT,79.20,few clouds,38.5167,-28.7000,Quinta da Meia Eira
11,Butaritari,KI,81.77,scattered clouds,3.0707,172.7902,Isles Sunset Lodge
16,Bethel,US,80.35,clear sky,41.3712,-73.4140,Courtyard by Marriott Danbury
...,...,...,...,...,...,...,...
658,Chabahar,IR,83.23,light rain,25.2919,60.6430,هتل گدروشیا
669,Birao,CF,78.17,light rain,10.2849,22.7882,
683,Ormara,PK,83.07,overcast clouds,25.2088,64.6357,Kenara Colony House for Rent
686,Menongue,AO,78.35,clear sky,-14.6585,17.6910,Ritz Lauca
687,Zboriv,UA,78.93,broken clouds,49.6648,25.1410,Polʹsha Lnl

In [12]:
# 8a. Create the output File (CSV)
output_data_file = "Weather_Data/WeatherPy_Vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [13]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description} °F</dd>
</dl>

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [17]:
# 11a. Add a marker layer for each city to the map. 

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))